<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.eoms.mapper.ConfigInfoMapper" >
  <resultMap id="BaseResultMap" type="com.demo.eoms.mapper.ConfigInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="system_code" property="systemCode" jdbcType="VARCHAR" />
    <result column="config_type" property="configType" jdbcType="VARCHAR" />
    <result column="config_code" property="configCode" jdbcType="VARCHAR" />
    <result column="config_value" property="configValue" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, system_code, config_type, config_code, config_value, remark
  </sql>
  <select id="selectByColumn" resultType="com.demo.eoms.controller.msg.ConfigInfoQueryResult" parameterType="com.demo.eoms.controller.msg.ConfigInfoQueryRequest" >
    select 
    	id, c.system_code as systemCode, config_type as configType, config_code as configCode, config_value as configValue, remark, system_name as systemName
    from config_info c left join system_info s on c.system_code=s.system_code
    where 1=1
     <if test="systemCode != null" >
      	and c.system_code = #{systemCode,jdbcType=VARCHAR}
     </if>
     <if test="configType != null" >
      	and config_type = #{configType,jdbcType=VARCHAR}
     </if>
     <if test="configCode != null" >
      	and config_code = #{configCode,jdbcType=VARCHAR}
     </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from config_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.eoms.mapper.ConfigInfo" >
    insert into config_info (id, system_code, config_type, 
      config_code, config_value, remark
      )
    values (#{id,jdbcType=INTEGER}, #{systemCode,jdbcType=VARCHAR}, #{configType,jdbcType=VARCHAR}, 
      #{configCode,jdbcType=VARCHAR}, #{configValue,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.eoms.mapper.ConfigInfo" >
    insert into config_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systemCode != null" >
        system_code,
      </if>
      <if test="configType != null" >
        config_type,
      </if>
      <if test="configCode != null" >
        config_code,
      </if>
      <if test="configValue != null" >
        config_value,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systemCode != null" >
        #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="configType != null" >
        #{configType,jdbcType=VARCHAR},
      </if>
      <if test="configCode != null" >
        #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.eoms.mapper.ConfigInfo" >
    update config_info
    <set >
      <if test="systemCode != null" >
        system_code = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="configType != null" >
        config_type = #{configType,jdbcType=VARCHAR},
      </if>
      <if test="configCode != null" >
        config_code = #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        config_value = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.eoms.mapper.ConfigInfo" >
    update config_info
    set system_code = #{systemCode,jdbcType=VARCHAR},
      config_type = #{configType,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=VARCHAR},
      config_value = #{configValue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>