<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.eoms.mapper.MenuInfoMapper" >
  <resultMap id="BaseResultMap" type="com.demo.eoms.mapper.MenuInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_name, menu_code, parent_id, url
  </sql>
  <select id="queryUserMenuInfo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT DISTINCT m.id ,m.menu_name,m.parent_id,m.url,m.menu_code
   FROM user_role u LEFT JOIN role_menu r on u.role_id=r.role_id
   LEFT JOIN menu_info m ON m.id=r.menu_id
   where u.user_id=#{userID,jdbcType=INTEGER}
   ORDER BY m.menu_code
  </select>

</mapper>