<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> XXX系统</title>
    <link rel="stylesheet" type="text/css" href="../../jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../demo.css">
    <script type="text/javascript" src="../../jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../utils.js"></script>
    <script type="text/javascript" src="branch.js"></script>
</head>
<body>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:5px;"></div>
<div id="menu" data-options="region:'west',split:true,collapsible:false,title:'组织机构'" style="width:300px;">
    <div id="branchTree" class="easyui-tree"></div>
</div>

<div id="mainPanle"  data-options="region:'center'">
    <div id="tt" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',border:false" style="height:50px"></div>
        <div data-options="region:'west',border:false"  style="width:100px;"></div>
        <div data-options="region:'center',border:false">
            <div class="easyui-panel" style="width:100%;max-width:500px;padding:30px 60px;">
                <form id="ff" class="easyui-form">
                    <input type="hidden" id="id" >
                    <div style="margin-bottom:20px">
                        <input id="parentName" name="parentName" class="easyui-textbox"  data-options="
                                                        disabled:true" label="父机构名称" labelPosition="top" style="width:100%">
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="branchName" name="branchName" class="easyui-textbox"  data-options="
													validateOnCreate:false,
													validType:['length[2,32]']"
                               label="机构名称" labelPosition="top" style="width:100%">
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="remark" name="remark" class="easyui-textbox"  data-options=""
                               label="备注" multiline="true" labelPosition="top" style="width:100%;height:120px">
                    </div>
                    <div style="text-align:center;padding:5px 0">
                        <a id="saveButton" href="javascript:void(0)" class="easyui-linkbutton"   style="width:80px">保&nbsp;&nbsp;存</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="mm" class="easyui-menu" style="width:120px;">
    <div id="addButton" data-options="iconCls:'icon-add'">新增</div>
</div>
</body>
</body>
</html>