<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> XXX系统</title>
    <link rel="stylesheet" type="text/css" href="../../jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../demo.css">
    <script type="text/javascript" src="../../jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../utils.js"></script>
    <script type="text/javascript" src="branch.js"></script>
</head>
<body>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:5px;"></div>
<div id="menu" data-options="region:'west',split:true,collapsible:false,title:'组织机构'" style="width:300px;">
    <div id="branchTree" class="easyui-tree"></div>
</div>

<div id="mainPanle"  data-options="region:'center'">
    <div id="tt" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',border:false" style="height:50px"></div>
        <div data-options="region:'west',border:false"  style="width:100px;"></div>
        <div data-options="region:'center',border:false">
            <li>
                <lu>wwww</lu>
                <lu>1111</lu>
            </li>
            <li>
                <lu>qqqq</lu>
                <lu>22222</lu>
            </li>
        </div>
    </div>
</div>
</body>
</body>
</html>