<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>企业运营管理系统平台</title>
	<link rel="stylesheet" type="text/css" href="/html/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/html/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/html/css/demo.css">
	<script type="text/javascript" src="/html/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/html/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/html//jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/html/js/utils.js" ></script>
    <script type="text/javascript" src="log.js"></script>
</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:30px;"></div>
    <div data-options="region:'west',border:false"  style="width:30px;"></div>
    <div data-options="region:'east',border:false"  style="width:30px;"></div>
    <div data-options="region:'center',border:false" style="width:100%">
        <table id="log" class="easyui-datagrid"></table>
    </div>

    <div id="tb" style="padding:2px 5px;">
        <form id="ff" class="easyui-form">
        开始时间: <input id="startTime"  class="easyui-datetimebox" data-options="required:true,validateOnCreate:false" style="width:150px">
        &nbsp;&nbsp;结束时间: <input id="endTime"  class="easyui-datetimebox" data-options="
                            required:true,
                            validateOnCreate:false,
                            validType:{startEnd:'#startTime',
                                       sameYear:'#startTime',
                                       sameMonth:'#startTime',
                                       intervalDay:['#startTime',10]}" style="width:150px">
        &nbsp;&nbsp;服务名: <input id="service"  class="easyui-textbox" style="width:110px">
        &nbsp;&nbsp;版本号: <input id="version"  class="easyui-textbox" style="width:110px">
        &nbsp;&nbsp;用户ID: <input id="userId"  class="easyui-textbox" style="width:60px">
            &nbsp;&nbsp;耗时大于: <input id="dealTime"  class="easyui-textbox" style="width:40px">
        &nbsp;&nbsp;<a id="queryButton" href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a>
        &nbsp;&nbsp;<a id="addButton" href="#" class="easyui-linkbutton" iconCls="icon-add">增加</a>
        </form>
    </div>

    <div id="w" class="easyui-window" title="报文信息" data-options="collapsible:false,minimizable:false,closed:true,maximizable:false" style="width:600px;height:500px;padding:5px;">
        <table id="pg" class="easyui-propertygrid"   style="width:95%" data-options="
				showGroup: true,
				scrollbarSize: 0,
				nowrap:false,
               columns:[[
                    {field:'name',title:'字段名称',width:'30%'},
                    {field:'value',title:'字段值',width:'65%',nowrap:false}]]">
        </table>
    </div>
</body>
</html>