<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>企业运营管理系统平台</title>
	<link rel="stylesheet" type="text/css" href="/html/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/html/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/html/css/demo.css">
	<script type="text/javascript" src="/html/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/html/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/html//jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/html/js/utils.js" ></script>
    <script type="text/javascript" src="system.js"></script>
</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:30px;"></div>
    <div data-options="region:'west',border:false"  style="width:30px;"></div>
    <div data-options="region:'east',border:false"  style="width:30px;"></div>
    <div data-options="region:'center',border:false" style="width:100%">
        <table id="system_info" class="easyui-datagrid"></table>
    </div>

    <div id="tb" style="padding:2px 5px;">
                    系统编码: <input id="systemCode" class="easyui-textbox"  style="width:200px" >&nbsp;&nbsp;
                    系统名称: <input id="systemName" class="easyui-textbox"  style="width:200px" >&nbsp;&nbsp;
               <a id="queryButton" href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;
               <a id="addButton" href="#" class="easyui-linkbutton" iconCls="icon-add">增加</a>
    </div>
    
    
    <div id="w" class="easyui-window" title="接入系统维护" data-options="collapsible:false,minimizable:false,closed:true,maximizable:false" style="width:600px;height:250px;padding:5px;">
        <form id="ff" class="easyui-form">
        	<input type="hidden" id=rowIndex>
            <div data-options="region:'center'" style="padding:10px;">
               
                <div style="margin-bottom:20px">
                    <input id="system_code" class="easyui-textbox"  data-options="
													validateOnCreate:false,
													required:true"
                           label="接入系统编码" labelPosition="top" style="width:90%">
                </div>
                <div style="margin-bottom:20px">
                    <input id="system_name" class="easyui-textbox"  data-options="
													validateOnCreate:false,
													required:true"
                           label="系统名称" labelPosition="top" style="width:90%">
                </div>
            </div>
            <div data-options="region:'south',border:true" style="text-align:right;padding:5px 0 0;">
                <a id=saveButton class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="#"  style="width:80px">保存</a>
                <a id="closeButton" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="#"  style="width:80px">关闭</a>
            </div>
            </form>
    </div>
</body>
</html>